<?xml version="1.0" ?>
<launch>
  <arg name="world_file" default="$(find panda_controllers)/worlds/Obstacle.world" />
  <arg name="rviz_config" default="$(find panda_controllers)/config/franka_obstacle_test.rviz" />

  <!-- Avvia il robot e gazebo insieme -->
  <include file="$(find franka_gazebo)/launch/panda.launch">
    <arg name="gazebo" value="true" />
    <arg name="rviz" value="false" />
    <arg name="world" value="$(arg world_file)" />
    <arg name="controller" value="computed_torque_controller" />
    <arg name="use_gripper" value="false" />
    <arg name="arm_id" value="panda" />
    <arg name="initial_joint_positions" value="-J panda_joint1 -0.278 -J panda_joint2 -0.354985 -J panda_joint3 -0.66899 -J panda_joint4 -1.939899 -J panda_joint5 -0.21900 -J panda_joint6 1.662 -J panda_joint7 -0.05699" />
    </include>

    <!-- <arg name="initial_joint_positions" value="-J panda_joint1 0.0 -J panda_joint2 -0.785398163 -J panda_joint3 0.0 -J panda_joint4 -2.35619449 -J panda_joint5 0.0 -J panda_joint6 1.57079632679 -J panda_joint7 0.785398163397" />
  </include> -->

  <!-- Carica i parametri dei controller -->
  <rosparam command="load" file="$(find panda_controllers)/config/panda_controllers_default.yaml" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true" />

  <node name="trajectory_publisher" pkg="panda_controllers" type="ee_trajectory_visualizer.py" output="screen">
    <param name="trajectory_rate" type="double" value="20.0" />
  </node>

</launch>
